.shufic {
  $timeDelayShufic: 2;
  $timeDelayText: $timeDelayShufic + 0.7;

  &_wrapper {
    position: fixed;
    right: 0;
    bottom: 50px;
    width: 220px;
    height: 170px;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
  }

  &_img {
    animation: shufic-body 0.4s #{$timeDelayShufic}s ease both 1;
    width: 70px;
    transform: rotate(-16deg);
    position: absolute;
    right: 0;
  }

  &_text {
    animation: shufic-text 0.3s #{$timeDelayText}s ease-out both 1;
    position: absolute;
    left: 0;
    top: 95px;
    width: 150px;
    padding: 15px 25px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid $main-text-color;
    text-align: center;

    span {
      font-style: italic;
      animation: shufic-text 0.3s #{$timeDelayText + 0.1}s ease-in both 1;
    }

    &::before {
      animation: shufic-text 0.1s #{$timeDelayText}s ease both 1;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 1px;
      right: -14px;
      border: 12px solid;
      transform: rotate(230deg);
      border-color: $main-text-color transparent transparent $main-text-color;
    }

    &::after {
      animation: shufic-text 0.1s #{$timeDelayText}s ease both 1;
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 5px;
      right: -9px;
      border: 10px solid;
      transform: rotate(230deg);
      border-color: #fff transparent transparent #fff;
    }
  }
}

@keyframes shufic-body {
  0% {
    opacity: 0;
    right: -100px;
    top: 80px;
    transform: rotate(-90deg);
  }

  20% {
    opacity: 1;
    transform: rotate(-60deg);
  }

  100% {
    right: 0;
    top: 0;
    transform: rotate(-16deg);
  }
}

@keyframes shufic-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}